@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(https://fonts.googleapis.com/css?family=Montserrat:700,900|Dancing+Script);

/* recommended picks slider css*/


f {
  display: flex;
}
recommend-body:hover .features-accordion {
  transform: scale(1);
}
.features-accordion {
  transform: scale(0.75);
  transition: all 0.5s;
  position: relative;
  display: flex;
  border-radius: 6px;
  min-width: 1100px;
  max-width: 1100px;
  margin: auto;
}
.features-accordion:before {
  content: "Recommended bundles";
  position: fixed;
  top: -2em;
  left: 0em;
  display: block;
  font-size: 24px;
  z-index: -1;
  animation: flyin 1s;
}
.features-accordion .board-feature {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  min-height: 100%;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  height: 350px;
  flex: 1;
  border-right: 2px solid #333;
  border-left: 2px solid #333;
}
.features-accordion .board-feature:nth-of-type(1) {
  animation: flyin 0.25s;
}
.features-accordion .board-feature:nth-of-type(2) {
  animation: flyin 0.5s;
}
.features-accordion .board-feature:nth-of-type(3) {
  animation: flyin 0.75s;
}
.features-accordion .board-feature:nth-of-type(4) {
  animation: flyin 1s;
}
.features-accordion .board-feature:nth-of-type(5) {
  animation: flyin 1.25s;
}
.features-accordion .board-feature:first-of-type {
  border-left: none;
  border-radius: 6px 0px 0px 6px;
}
.features-accordion .board-feature:first-of-type .board-feature-container {
  border-radius: 6px 0px 0px 6px;
}
.features-accordion .board-feature:last-of-type {
  border-right: none;
  border-radius: 0px 6px 6px 0px;
}
.features-accordion .board-feature:last-of-type .board-feature-container {
  border-radius: 0px 6px 6px 0px;
}
.features-accordion .board-feature .board-feature-container {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 1em;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.25s;
}
.features-accordion .board-feature .board-feature-container .topic {
  font-size: 15px;
}
.features-accordion .board-feature .board-feature-container h3 {
  font-size: 17px;
  width: 135px;
}
.features-accordion .board-feature .board-feature-container .accordion-content {
  font-size: 14px;
  background: rgba(100, 100, 100, 0.35);
  border-radius: 0.25em;
  padding: 0.5em;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0s;
}
.features-accordion .board-feature .board-feature-container .systems {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.features-accordion .board-feature .board-feature-container .systems svg {
  margin-right: 0.5em;
}
.features-accordion .board-feature:hover {
  transition: all 0.25s;
  max-width: 500px;
  flex: 2;
}
.features-accordion .board-feature:hover .accordion-content {
  transition: all 0.25s;
  transition-delay: 0.2s;
  opacity: 1;
}
.features-accordion .board-feature:hover .board-feature-container {
  background: rgba(0, 0, 0, 0.25);
}
@keyframes flyin {
  0% {
    opacity: 0;
    transform: translateY(-100%);
 }
  100% {
    opacity: 1;
    transform: translateY(0px);
 }
}

/* mobile menu hamburger button */

/* mobile menu hamburger button */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke-width:5.5;
  stroke: white;
  stroke-linecap:round;
  filter: brightness(1.5);
  
}

.ham6 .top {
  stroke-dasharray: 40 172;

}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset:-132px;
}

.ham6.active .middle {
  stroke-dashoffset:-71px;
}

.ham6.active .bottom {
  stroke-dashoffset:-132px;
}

/* * mobile menu container */ 
.mobilenav--wrap {
  padding: 0;
  height: 100vh;
  width:100%;
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3); 
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  top: 0;
  left: -1080px;
  position: fixed;
  /* -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; */
z-index:30

}

.mobilenav--wrap.show--mobilenav {
  left: 0;
}
/* mobile menu */
.mobilenav {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0;
}

.mobilenav > ul {
  width: 100%;
  box-sizing: border-box;
  margin: 5rem 0 2rem 0;
}

.mobilenav ul li {
  position: relative;
  list-style:none;
  font-size: 1.1rem
}

.mobilenav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333
}

.mobilenav ul li a:hover {
  background: #fff;
  color: red;
}


.mobilenav ul li:hover ul {
  display:block;
  margin-left: 0;
}